root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile,makefile]
indent_size = 4
indent_style = tab

[.{html,css,js,jsx,ts,tsx}]
indent_size = 2
max_line_length = 80
indent_style = space
quote_type = double

[*.{yml,yaml}]
indent_style = space
indent_size = 2
