DATABASE_URL=

AUTH_SECRET_KEY=""
AUTH_TOKEN_EXPIRE_MINUTES=60
AUTH_REFRESH_TOKEN_EXPIRE_DAYS=7

SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=""

CORS_ORIGINS=[""]

COOKIE_SECURE=false
COOKIE_SAMESITE=lax

SITE_URL=
SUPPORT_EMAIL=
